@import "reset.less";
@import "variables.less";
@import "mixins.less";

* {
    box-sizing: border-box;
    background-color: #596157;
    color: #cfd186;

    .flex-container {
    display: flex;
}

.topHeading {
    font-size: 50px;
    font-family: 'Patrick Hand', cursive;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 5px;

}

.header{
    font-size: 24px;
    font-family: Georgia;
    display: flex;
    align-items: center; 
    padding: 10px;

}

.bodyParagraph{
    font-size: 18px;
    display: flex;
    margin: auto;
    padding: 5px;
    width: 80%; 
    justify-content: flex-start;
    font-family: 'Spectral', serif;

}

img {
    width: 50%;
    display: flex;
    height: 60%;
    padding: 5px;
    border: 5px solid black; 
}
}
 ul {
     column-count: 3;
     font-size: 18px;
 }