@import "reset.less";
@import "variables.less";
@import "mixins.less";

* {
    box-sizing: border-box;
}

.topHeading {
    font-size: 40px;
    font-family: 'Patrick Hand', cursive;
    display: flex; 
    align-items: center;

}

.header{
    font-size: 24px;
    font-family: Georgia;
    display: flex;
    align-items: center; 


}

.bodyParagraph{
    font-size: 18px;
    font-family: Georgia; 
    display: flex;
    margin: 2px;
    width: 50%; 
    flex-wrap: wrap;

}